<!DOCTYPE html>
<html>
<head>
  <title>My Recipe Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="recipe-ribbon">
    <h2>Random Recipes</h2>
    <ul id="recipe-list">
      {% for recipe in recipe_data %}
      <li><a href="{{ recipe['filepath'] }}">{{ recipe['name'] }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="recipe-content" id="recipe-content">
    <h1>My Recipe Website</h1>
    </div>
</body>
</html>